.wrapper {
	border-radius: 5px;
	color: #33343A;
	border: 3px;
	box-shadow: 0 0 10px 5px #70D8A6;
	background-color:#33343A;
	width:190px;
	padding:5px;
}
h2 {
	color: #70D8A6;
	text-align:center;
	margin:0px;
	
}
p{
	color: #70D8A6;
	margin: 0 auto;
}
.sign_in{
	color: #70D8A6;
	text-align:center;
}
#submit{
	width:100%;
	height:60;
	background-color:#336370;
	color:#70D8A6;
	font-family:Kanit;
	font-weight:bold;
	font-size:100%;
	border-radius:5px;
	border-color:#336370;
	margin-top: 10px;
}

.details {
	margin-bottom: 10px;
}
.field{
	border-radius:5px;
	width:97%;
}
