body {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: max(auto);
	margin: 0 auto;
	background-color: pink;
	text-align: center;
}
/*
.info {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 4;
	background-color: blue;
}


.bio {
	grid-column-start: 6;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 4;
	background-color: powderblue;
}

.profile_image {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	}
*/
.left_info{
	

