#sign_in_pane{
	box-shadow: -3px 3px 10px black;
	width:180px;
	margin: 0 auto;
	padding:5px;
}
.heading{
	margin-top:3px;
	margin-bottom:3px;
}
.field{
	margin-bottom:5px;
}
#submit{
	width:170px;
	height:25px;
}
#desc_input{
	width:170px;
	height:50px;
	overflow:hidden;
}