.wrapper.div {
	background-color: #33343A;
	color: #70D8A6;
	box-shadow: unset;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wrapper a { color: white; }

.wrapper h3:not(:first-child) {
	margin-top: 10px;
	border-top: solid 1px #70d8a6;
	padding-top: 10px;
}

.page_heading {
	text-align: center;
}

.wrapper a {
	color: white !important;
}

.wrapper a:hover {
	color: #70d8a6 !important;
}
