/* Fonts */
body{
	font-family: Kanit, sans-serif;
}
h2{
	color: #336370;
}

/* Colours */

header {
	background-color: #33343A;
	padding: 5px;
	left:0;
	right:0;
	top:0;
	position: absolute;
}
a:active{
	color: white;
}
footer{
	background-color: #33343A;
	color: #70D8A6;
	font-family: Kanit, sans-serif;
	padding: 5px;
	position: absolute;
	right:0;
	bottom:0;
	left:0;
	text-align:center;
	
}
h1{
	color: #70D8A6;
	font-family: Audiowide, cursive;
}