<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href="../static/styleguide.css">
<link rel='stylesheet' href="../static/allSquadsStyle.css">
<link href="https://fonts.googleapis.com/css?family=Audiowide|Encode+Sans+Expanded:600|Kanit:300" rel="stylesheet">
</head>
<body>
{% include /templates/header.html %}
	<div class="wrapper" align="center">
		<h2> Create Squad </h2>
		<form class="form">
			<label for="name">Name:</label> <input id="name" type="text" name="name">
			<br>
			<label for="date/time">Date/Time:</label> <input id="date" type="text" name="date">
			<br>
			<label for="location">Location:</label> <input id="location" type="text" name="location">
			<br>
			<label for="players">Player number required:</label> <input id="player_number_required" type="text" name="player number required">
			<br>
			<label for="description">Description:</label> <input id="description" type="text">
			<br>
			<input type = "submit" value = "create">
			<input type = "reset" value = "clear" >
		</form>
	</div>
{% include /templates/footer.html %}
</body>
</html>