<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href="../static/styleguide.css">
<link rel='stylesheet' href="../static/allSquadsStyle.css">
<link href="https://fonts.googleapis.com/css?family=Audiowide|Encode+Sans+Expanded:600|Kanit:300" rel="stylesheet">
</head>
<body>
{% include header.html %}
	<div class="wrapper">

		<h2> Create Squad </h2>
		<form class="form" method="POST" action="/squads/">
			<label> Name: </label> <input id="name" type="text" name="squadname" class='field'required>
			<br>
			<label> Date/Time: </label><input id="date" type="text" name="squad_date" class='field'required>
			<br>
			<label> Location: </label><input id="location" type="text" name="location" class='field'required>
			<br>
			<label> Requred Number of Players: </label><input id="player_number_required" type="number" min="2" name="capacity" class='field'required>
			<br>
			<label> Description: </label><input id="description" type="text" name="description" class='field'required>
			<br>
			<input type = "submit" value = "create">
			<input type = "reset" value = "clear" >
		</form>
	</div>
{% include footer.html %}
</body>
</html>
