<header>
	<a href='/squads/'><h1>Squadify</h1></a>
	{% if current_user %}
	<img src='{{ profile_image }}'>
	<a class = "username" href='/profiles/{{ current_user }}/'><h3  >{{ current_user }}</h3></a>
	{% end if %}
<nav>
<ul>
    <li><a href="/squads/">Squad List</a></li>
    <li><a href="/create-squad/">Create</a></li>
		{% if current_user %}
			<li><a href="/logout/">Logout</a></li>
		{% end if %}
		{% if not current_user%}
			<li><a href="/login/">Login / Register</a></li>
		{% end if %}
  </ul>
</nav>
</header>
