<!doctype HTML>
<html>
<head>

<link rel='stylesheet' href="/static/styleguide.css">
<link href="https://fonts.googleapis.com/css?family=Audiowide|Encode+Sans+Expanded:600|Kanit:300" rel="stylesheet">	</head>
<title>Squads </title>	
</head>
<body>
{% include header.html %}
	<div align="center" class="wrapper">
	<h2 class="page_heading"> Squads </h2>

		 {% for squad in squads %}
				<h3> <a href="/squads/{{ squadname }}">{{ squad.name }} </a></h3>
		<p> Host:
			{{ squad.leader }} </p>
		<p> Date: 
			{{ squad.event_date }}	
		</p>
		<p> Squad needed: 
			{{ squad.capacity }}				 				 
		</p>
		<p> Location:
			{{ squad.location }} </p>
		<p> 
			Description:
			{{ squad.description }}
		</p>
				{% if is_creator %}
					pass
				{% end if %}
			{% end for %}
	</div>
{% include footer.html %}
</body>
</html>