<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel='stylesheet' href='/static/styleguide.css'>
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Encode+Sans+Expanded:600|Kanit:300" rel="stylesheet">
		<link rel='stylesheet' href='/static/login_style.css'>
	</head>
	<body>
		<article id='login_pane'>
			<form>
				<h3>Enter login info:</h3>
				<input type='text'placeholder='Username'required>
				<input type='password'placeholder='Password'required>
				<button>Login</button>
			</form>
		</article>
	</body>
</html>