<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel='stylesheet' href='/static/styleguide.css'>
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Encode+Sans+Expanded:600|Kanit:300" rel="stylesheet">
		<link rel='stylesheet' href='/static/login_style.css'>
	</head>
	<body>
		{% include header.html %}
		<div class="wrapper">
			<article>
				<form method='POST' action='/login/'>
					<h2>Enter login info</h2>
					<p> {{ message }} </p>
					<input name='username' type='text' placeholder='Username' class='field' required><br>
					<input name='password' type='password' placeholder='Password' class='field' required><br>
					<input type='submit' value='Login' id='submit'>
					<p class='sign_in'> Don't have an account?</p>
					<p class='sign_in'>
						<a href='/register/' class='sign_in'>Sign up here!</a>
					</p>
				</form>
			</article>
		</div>
		{% include footer.html %}
	</body>
</html>
