<!DOCTYPE html>
<html>
	<head>
		<title>Profile page</title>
		<link rel='stylesheet' href="/static/styleguide.css">
		<link rel='stylesheet' href="/static/profile_layout2.css">
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Encode+Sans+Expanded:600|Kanit:300" rel="stylesheet">
	</head>
	<body>
	{% include header.html %}

	<div class="profile wrapper">
		<h2>{{ username }}</h2>
		<h3>{{ loc }}</h3>
		<h3>{{ age }}</h3>
		<p>
			{{ description }}
		</p>
		<div class="box user_img">
			<img src='http://mjhs.ca/adopt-a-cat_files/slideshowImage_186563.jpg' id='user_img' alt='Profile picture'>
		</div>
		
	</div>

	{% include footer.html %}
	</body>
</html>
