<!doctype HTML>
<html>
	<head>
		<title>Sign up</title>
		<link rel='stylesheet' href='/static/styleguide.css'>
		<link rel='stylesheet' href='/static/register_style.css'>
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Encode+Sans+Expanded:600|Kanit:300" rel="stylesheet">
	</head>
	<body>
		{% include header.html %}
		<article id='sign_in_pane'>
			<form method='POST' action='/register/'>
				<h3 class='heading' id='main_title'>Sign up</h3>
				<p>{{ message }}</p>
				<input name="username" type="text" placeholder='Username' class='field'required><br>
				<input name="password" type="password" placeholder='Password' class='field'required><br>
				<input name="location" type="text" placeholder='Location' class='field'required><br>
				<input name="birthdate" type="date" placeholder='Birthdate' class='field'required><br>
				<h3 class='heading'>Choose a profile pic:</h3>
				<input name="image" type="text" id='choose_image'required>
				<h3 class='heading'>About you:</h3>
				<textarea name='description' type='text' placeholder='Your description here' id='description'></textarea>
				<br><input type="submit" value="Join" id='submit'>
			</form>
			</div>
		</article>
		{% include footer.html %}
	</body>
</html>
