<!doctype HTML>
<html>
	<head>
		<title>Sign up</title>
		<link rel='stylesheet' href='/static/styleguide.css'>
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Encode+Sans+Expanded:600|Kanit:300" rel="stylesheet">
	</head>
	<body>
		<article>
			<form>
				<h3>Sign up:</h3>
				<input type='text' placeholder='Username'required>
				
				<input type='email'placeholder='Email' required>
				<input type='password'placeholder='Password' required> 
				<h4>Description:</h4>
				<textarea>
				</textarea>
				<button >Join</button>
			</form>
		</article>
	</body>
</html>