<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href="/static/styleguide.css">
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Encode+Sans+Expanded:600|Kanit:300" rel="stylesheet">
	</head>
	<body>
		{% include header.html %}
		<div class="wrapper">
			<h3>{{ Squad }}</h3>
			<p> Host: {{ leader }} </p>
			<p> Date: {{ date }} Time: {{ time }} </p>
			<p> Location: {{ location }} </p>
			<p> Required number of players: {{ required_numbers }} </p>
			<p> Description: {{ description }} </p>
			<p> Members:
			<ul>
				{% for applicant in applicants %}
				{% if applicant.status == 2 %}
				<li><a href='/profiles/{{ applicant.username }}/'>{{ applicant.username }}</a>
				{% end if %}
				{% end for %}
		  </ul>
			<div class="messages">
				{% if len(messages) > 5 %}
					{% for m in messages[:5] %}
						<p>
						<span class="sender">{{ m.sender_username }}</span>
						<span class="message">{{ m.message }}</span>
						</p>
					{% end for %}
				{% else %}
					{% for m in messages %}
						<p>
						<span class="sender">{{ m.sender_username }}</span>
						<span class="message">{{ m.message }}</span>
						</p>
					{% end for %}
				{% end if %}
			<form class="form" method="POST" action="/squads/{{ Squad }}/send-message/">
			<input type="text" name="message-text" placeholder="Chat to your friends!" />
			<input type="submit" value="Send" />
			</form>
			</div>
		</div>

		<div class="wrapper" align="center">
			{% if current_user==leader%}
				<h3 class='heading'>Applicants:</h3>
				<form method="POST" action='/squads/{{Squad}}/accept-reject/'>
					{% for applicant in applicants %}
					  {% if applicant.status == 0 %}
						<a href='/profiles/{{ applicant.username }}/'>{{ applicant.username }}</a>:


						<input type='radio' value='accept' name='{{applicant.username}}'> Accept

						<input type='radio' value='reject' name='{{applicant.username}}'>	Reject
						<br>

						{% end if %}
						{% end for %}
						<br><input type='submit' value='Submit'>
				</form>
			{% end if %}

			{% if current_user!=leader%}
				<a href='/squads/{{ Squad }}/apply/'>Join Squad</a>

			{% end if%}

		</div>
		{% include footer.html %}
	</body>
</html>
