<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href="../static/styleguide.css">
	<link href="https://fonts.googleapis.com/css?family=Audiowide|Encode+Sans+Expanded:600|Kanit:300" rel="stylesheet">
</head>
<body>
	{% include /templates/header.html %}
	<h2> Squads </h2>
	<div>
	<h3>{{ squad }}</h3>
		<p> Host: {{ leader }} </p>
		<p> Date: {{ event_date }} </p>
		<p> Location: {{ location }} </p>
		<p> Required number of players: {{ capacity }} </p>
		<p> Description: {{ description }} </p>
	<button name = "Apply">Apply</button>
	</div>
	{% include /templates/footer.html %}
</body>
</html>